html, body, #root {
  margin: 0;
  height: 100%;
  background-image: url('./background.jpg');
  background-size: cover;
  overflow: hidden;
}

#root {
  overflow: scroll;
}

/* .App {
  text-align: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar {
  /* margin-left: 25%;
  margin-right: 25%; */
  height: 10%;
  margin-top: 10%;
  display: flex;
}

.textBox {
  width: 80%;
  margin-left: 1%;
  height: 90%;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buttons {
  height: 97%;
  width: 20%;
}

.button{
  width: 100%;
  height: 100%;
}

.addButton {
  margin-right: 10%;
}

.activeScreen {
  height: 99%;
  overflow: hidden;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 0.2%;
}

.searchResults {
  margin-left: 5%;
  margin-right: 5%;
  height: 70%;
  overflow: hidden;
}

.searchItemList {
  height: 10%;
  border: solid;
  overflow: scroll;
}

.item {
  display: inline-block;
  margin-left: 2%;
}

.itemBorder {
  display: flex;
  margin-top: 5%;
  border: solid;
  width: 100%;
}

.removeItemButton{
  border-right: solid;
}

.itemName {
  margin-left: 5%;
  margin-right: 2%;
}

.searchResultsWrapper {
  height : 90%;
  overflow: scroll;
}

.suggestions {
  height: 100%;
}

.singleSuggestion {
  height: 25%;
  background-color: white;
  margin-bottom: 2%;
  display: flex;
}

.foodImageContainer {
  width: 15%;
}

.recipeInfoContainer {
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
}

.essentialInformation {
  width: 60%;
  margin-right: 0.5%;
}

.nutritionalInformation {
  width: 40%;
  margin-top: 1.5%;
}

.foodImage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.recipeNameContainer {
  height: 45%;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3%;
}

.recipeDetailsContainer {
  height: 55%;
  font-size: larger;
  margin-left: 0.5%;
  margin-top: 1%;
  /* display: flex; */
}

.ingredientInformation {
  width: 100%;
}

/* .recipeInfo {
  width: 25%;
  display: flex;
  flex-direction: column;
} */

.heading {
  font-weight: bold;
}

.info {
  margin-left: 10%;
}

.caloriesContainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 60px;
}

.recipeInstructionPage {
  margin-left: 20%;
  margin-right: 20%;
  height: 102%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.instructionPageContainer {
  margin: 2%;
  height: 25%;
  background-color:#61dafb;
}

.instructionPageRecipeNameContainer{
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 6vh;
  text-align: center
}

.instructionPageIngredientsContainer{

}

.instructionPageInstructionsContainer {

}

.instructionPageNutritionalValuesContainer{

}


